H1{
    text-align: center;
    padding: 10PX;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    text-align:center;
    padding: 3px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}