<app-header></app-header>

<main>
  <h1>Bienvenido a mi aplicación Angular</h1>
  <p>Angular es un framework de ingeniería de software de código abierto mantenido por Google, que sirve para desarrollar aplicaciones web de estilo Single Page Application (SPA) y Progressive Web App (PWA). Sirve tanto para versiones móviles como de escritorio</p>

<p>Los gatitos también necesitan mucho ejercicio y estimulación mental para mantenerse felices y saludables. Puedes proporcionarles juguetes y rascadores para que puedan jugar y estirarse, así como proporcionarles lugares para explorar y esconderse.</p>

<p>En resumen, los gatitos son animales adorables y cariñosos que pueden ser una gran adición a cualquier hogar. Con el cuidado y la atención adecuados, un gatito puede ser un compañero fiel y amoroso durante muchos años.</p>
</main>

<app-footer></app-footer>
