<app-header></app-header>

<main>
  <h1>Menu</h1>
  <p>Pizza Artesanal&nbsp;&nbsp;&nbsp; <img src="assets/imagenes/Pizza.png" alt="Pizza Artesanal" width="250px" height="150px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bebida&nbsp;&nbsp;&nbsp;<img src="assets/imagenes/Sake.png" alt="Pizza Artesanal" width="250px" height="150px">
  <p>Dona&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="assets/imagenes/Dona.png" alt="Pizza Artesanal" width="250px" height="150px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Postre&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/imagenes/Postre.png" alt="Pizza Artesanal" width="250px" height="150px">
  <p>Tiramisu Italia&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="assets/imagenes/Tiramisu.png" alt="Pizza Artesanal" width="250px" height="150px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pastel&nbsp;&nbsp;&nbsp; <img src="assets/imagenes/Pastel.png" alt="Pizza Artesanal" width="250px" height="150px">
    <p>Croquetas de Papa <img src="assets/imagenes/croqueta.png" alt="Pizza Artesanal" width="250px" height="150px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pasta &nbsp;&nbsp;&nbsp;<img src="assets/imagenes/Pasta.png" alt="Pizza Artesanal" width="250px" height="150px">
  </main>
<app-plato-adicional></app-plato-adicional>
<p>Dango&nbsp;&nbsp;&nbsp; <img src="assets/imagenes/danguito.png" alt="Dango" width="250px" height="150px"></p>
<app-footer></app-footer>

