<app-header></app-header>

<main>
  <h1>Bienvenido a mi aplicación Angular</h1>
  <p>Angular es un framework de ingeniería de software de código abierto mantenido por Google, que sirve para desarrollar aplicaciones web de estilo Single Page Application (SPA) y Progressive Web App (PWA). Sirve tanto para versiones móviles como de escritorio</p>

<p>Angular utiliza un patrón de arquitectura llamado Modelo Vista Controlador (MVC) y proporciona una gran cantidad de herramientas y características para ayudar en el desarrollo de aplicaciones, como enrutamiento, inyección de dependencias, validación de formularios, animaciones y pruebas unitarias.

  Además, Angular tiene una comunidad activa y un amplio ecosistema de complementos y bibliotecas para ampliar su funcionalidad. Angular es una de las opciones más populares para desarrollar aplicaciones web en la actualidad.</p>
</main>

<app-footer></app-footer>
